<div class="copyright">
	2013 &copy; TripClouds. Finance App.
</div>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "home" %>
<script>
	jQuery(document).ready(function() {     
	  App.init();
	  Login.init();		
	});
</script>
<!-- END JAVASCRIPTS -->