<h3 class="page-title">
	<%= controller.controller_name.humanize.singularize.capitalize %> <small><%= controller.action_name.humanize %></small>
</h3>
<ul class="breadcrumb">
	<%= render_breadcrumbs separator: " <i class=icon-angle-right></i> ".html_safe %>
</ul>