<h3 class="page-title">
	<%= controller.controller_name.humanize.singularize.capitalize %> <small><%= controller.action_name.humanize %></small>
</h3>
<%= render 'layouts/shared/notifications' %>
<%= render_breadcrumbs %>