<!-- BEGIN TOP NAVIGATION MENU -->              
<ul class="nav pull-right">
	<!-- BEGIN NOTIFICATION DROPDOWN -->   
	<li class="dropdown" id="header_notification_bar">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
		<i class="icon-warning-sign"></i>
		<span class="badge">6</span>
		</a>
		<ul class="dropdown-menu extended notification">
			<li>
				<p>You have 14 new notifications</p>
			</li>
			<li>
				<ul class="dropdown-menu-list scroller" style="height:250px">
					<li>
						<a href="#">
						<span class="label label-success"><i class="icon-plus"></i></span>
						New user registered. 
						<span class="time">Just now</span>
						</a>
					</li>
					<li>
						<a href="#">
						<span class="label label-important"><i class="icon-bolt"></i></span>
						Server #12 overloaded. 
						<span class="time">15 mins</span>
						</a>
					</li>
					<li>
						<a href="#">
						<span class="label label-warning"><i class="icon-bell"></i></span>
						Server #2 not responding.
						<span class="time">22 mins</span>
						</a>
					</li>
					<li>
						<a href="#">
						<span class="label label-info"><i class="icon-bullhorn"></i></span>
						Application error.
						<span class="time">40 mins</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="external">
				<a href="#">See all notifications <i class="m-icon-swapright"></i></a>
			</li>
		</ul>
	</li>
	<!-- END NOTIFICATION DROPDOWN -->

	<!-- BEGIN USER LOGIN DROPDOWN -->
	<li class="dropdown user">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
		<img alt="" src="/img/avatar1_small.jpg" />
		<span class="username"><%= current_user.print_name %></span>
		<i class="icon-angle-down"></i>
		</a>
		<ul class="dropdown-menu">
			<li><a href="extra_profile.html"><i class="icon-user"></i> My Profile</a></li>
			<li><a href="page_calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
			<li><a href="inbox.html"><i class="icon-envelope"></i> My Inbox <span class="badge badge-important">3</span></a></li>
			<li><a href="#"><i class="icon-tasks"></i> My Tasks <span class="badge badge-success">8</span></a></li>
			<li class="divider"></li>
			<li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Full Screen</a></li>
			<li><a href="extra_lock.html"><i class="icon-lock"></i> Lock Screen</a></li>
			<li>
				<%= link_to logout_home_index_path, mothod: :delete, confirm: "Are you sure?" do %>
					<i class="icon-key"></i> Logout
				<% end %>
			</li>
		</ul>
	</li>
	<!-- END USER LOGIN DROPDOWN -->
	<!-- END USER LOGIN DROPDOWN -->
</ul>
<!-- END TOP NAVIGATION MENU --> 