<div class="navbar hor-menu hidden-phone hidden-tablet">
	<div class="navbar-inner">
		<ul class="nav">
			<li class="visible-phone visible-tablet">
				<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
				<form class="sidebar-search">
					<div class="input-box">
						<a href="javascript:;" class="remove"></a>
						<input type="text" placeholder="Search..." />            
						<input type="button" class="submit" value=" " />
					</div>
				</form>
				<!-- END RESPONSIVE QUICK SEARCH FORM -->
			</li>
			<li class="active">
				<a href="index.html">
				Dashboard
				<span class="selected"></span>
				</a>
			</li>
			<li>
				<a data-hover="dropdown" data-close-others="true" href="">
				Sections
				<span class="arrow"></span>     
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">Section 1</a></li>
					<li><a href="#">Section 2</a></li>
					<li><a href="#">Section 3</a></li>
					<li><a href="#">Section 4</a></li>
					<li><a href="#">Section 5</a></li>
				</ul>
				<b class="caret-out"></b>                        
			</li>
			<li>
				<span class="hor-menu-search-form-toggler">&nbsp;</span>
				<div class="search-form hidden-phone hidden-tablet">
					<form class="form-search">
						<div class="input-append">
							<input type="text" placeholder="Search..." class="m-wrap">
							<button type="button" class="btn"></button>
						</div>
					</form>
				</div>
			</li>
		</ul>
	</div>
</div>