<div class="page-sidebar nav-collapse collapse">
	<ul class="page-sidebar-menu hidden-phone hidden-tablet">
		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		</li>
		<li>
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<form class="sidebar-search">
				<div class="input-box">
					<a href="javascript:;" class="remove"></a>
					<input type="text" placeholder="Search..." />            
					<input type="button" class="submit" value=" " />
				</div>
			</form>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		<li class="start active">
			<a href="javascript:;">
			<i class="icon-cogs"></i> 
			<span class="title">Layouts</span>
			<span class="selected "></span>
			<span class="arrow open"></span>
			</a>
			<ul class="sub-menu">
				<li >
					<a href="layout_language_bar.html">
					<span class="badge badge-roundless badge-important">new</span>Language Switch Bar</a>
				</li>						
			</ul>
		</li>				
		<!-- BEGIN FRONT DEMO -->
		<li class="tooltips" data-placement="right" data-original-title="Frontend&nbsp;Theme&nbsp;For&nbsp;Metronic&nbsp;Admin">
			<a href="http://keenthemes.com/preview/index.php?theme=metronic_frontend" target="_blank">
			<i class="icon-gift"></i> 
			<span class="title">Frontend Theme</span>
			</a>
		</li>
		<!-- END FRONT DEMO -->
		<li >
			<a href="javascript:;">
			<i class="icon-th-list"></i> 
			<span class="title">Portlets</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li >
					<a href="portlet_general.html">
					General Portlets                    </a>
				</li>
				<li >
					<a href="portlet_draggable.html">
					Draggable Portlets                     </a>
				</li>
			</ul>
		</li>
		<li >
			<a href="javascript:;">
			<i class="icon-map-marker"></i> 
			<span class="title">Maps</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li >
					<a href="maps_google.html">
					Google Maps                   </a>
				</li>
				<li >
					<a href="maps_vector.html">
					Vector Maps                   </a>
				</li>
			</ul>
		</li>
		<li >
			<a href="charts.html">
			<i class="icon-bar-chart"></i> 
			<span class="title">Visual Charts</span>
			</a>
		</li>
		<li class="last">
			<a href="login.html">
			<i class="icon-user"></i> 
			<span class="title">Login Page</span>
			</a>
		</li>
	</ul>
	<!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->
	<ul class="page-sidebar-menu visible-phone visible-tablet">
		<li>
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<form class="sidebar-search">
				<div class="input-box">
					<a href="javascript:;" class="remove"></a>
					<input type="text" placeholder="Search..." />            
					<input type="button" class="submit" value=" " />
				</div>
			</form>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		<li class="active">
			<a href="index.html">
			Dashboard
			<span class="selected"></span>
			<span class="arrow open"></span>
			</a>
			<ul class="sub-menu">
				<li class="active">
					<a href="javascript:;">
					<i class="icon-cogs"></i> 
					<span class="title">Layouts</span>
					<span class="arrow open"></span>
					</a>
					<ul class="sub-menu">
						<li >
							<a href="layout_language_bar.html">
							<span class="badge badge-roundless badge-important">new</span>Language Switch Bar</a>
						</li>						
						<li class="active">
							<a href="layout_horizontal_sidebar_menu.html">
							Horizontal & Sidebar Menu                     </a>
						</li>
						<li >
							<a href="layout_horizontal_menu1.html">
							Horizontal Menu 1                    </a>
						</li>
						<li >
							<a href="layout_horizontal_menu2.html">
							Horizontal Menu 2                    </a>
						</li>
						<li >
							<a href="layout_promo.html">
							Promo Page                    </a>
						</li>
						<li >
							<a href="layout_email.html">
							Email Templates                     </a>
						</li>
						<li >
							<a href="layout_sidebar_closed.html">
							Sidebar Closed Page                    </a>
						</li>
						<li >
							<a href="layout_blank_page.html">
							Blank Page                    </a>
						</li>
						<li >
							<a href="layout_boxed_page.html">Boxed Page</a>
						</li>
						<li >
							<a href="layout_boxed_not_responsive.html">
							Non-Responsive Boxed Layout                     </a>
						</li>
					</ul>
				</li>
				<li >
					<a href="javascript:;">
					<i class="icon-th-list"></i> 
					<span class="title">Portlets</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li >
							<a href="portlet_general.html">
							General Portlets                    </a>
						</li>
						<li >
							<a href="portlet_draggable.html">
							Draggable Portlets                     </a>
						</li>
					</ul>
				</li>
				<li >
					<a href="javascript:;">
					<i class="icon-map-marker"></i> 
					<span class="title">Maps</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li >
							<a href="maps_google.html">
							Google Maps                   </a>
						</li>
						<li >
							<a href="maps_vector.html">
							Vector Maps                   </a>
						</li>
					</ul>
				</li>
				<li >
					<a href="charts.html">
					<i class="icon-bar-chart"></i> 
					<span class="title">Visual Charts</span>
					</a>
				</li>
				<li >
					<a href="login.html">
					<i class="icon-user"></i> 
					<span class="title">Login Page</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			Sections
			<span class="arrow"></span>     
			</a>
			<ul class="sub-menu">
				<li><a href="#">Section 1</a></li>
				<li><a href="#">Section 2</a></li>
				<li><a href="#">Section 3</a></li>
				<li><a href="#">Section 4</a></li>
				<li><a href="#">Section 5</a></li>
			</ul>
		</li>
		<li>
			<a href="">Tables</a>
		</li>
		<li>
			<a href="">Extra
			<span class="arrow"></span>
			</a>
			<ul class="sub-menu">
				<li><a href="index.html">About Us</a></li>
				<li><a href="index.html">Services</a></li>
				<li><a href="index.html">Pricing</a></li>
				<li><a href="index.html">FAQs</a></li>
				<li><a href="index.html">Gallery</a></li>
				<li><a href="index.html">Registration</a></li>
			</ul>
		</li>
	</ul>
</div>